<% if @favorites.present? %>
  <div class="works-list">
    <% @favorites.each do |favorite| %>
      <%= link_to work_path(favorite.work) do %>
        <div class="work-card">
          <%= image_tag favorite.work.image_url || 'https://i.imgur.com/h95bUcm.png' %>
          <div class="work-description">
            <p class="work-name-index no-absolute"><%= favorite.work.obra_nome %></p>
            <p class="work-city-name-index"><%= favorite.work.city.name %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <div class="container pt-4">
    <p class="text-justify">Você ainda não acompanha nenhuma obra :( </p>
    <%= link_to 'LISTAGEM DE OBRAS', works_path, method: :get, class: 'btn btn-primary btn-global' %>
  </div>
<% end %>
