<div class="promo-code-index">
  <h1>Troque seus pontos por um cupom da lista, essa troca não pode ser desfeita depois de confirmada.</h1>

  <% if @promo_codes.present? %>
    <% @promo_codes.each do |promo_code| %>
      <%= link_to user_promo_code_path(:me, promo_code) do  %>
        <div class="row">
          <div class="col-12">
            <div class="promo-card">
              <div class="row">
                <div class="col-4 price line my-auto">
                  <%= promo_code.required_points %>
                  <span>Pontos</span>
                </div>
                <div class="col-8 description my-auto">
                  <p class="title">
                    Cupom de <%= promo_code.formatted_value %> - <%= promo_code.company_name.truncate(10) %>
                  </p>
                  <span><%= promo_code.description.truncate(30) %></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    Sem código promocionais para sua pontuação
  <% end %>
</div>

