<div class="promo-code-show">
  <h1><%= @promo_code.company_name %></h1>

  <div class="row">
    <div class="col-12">
      <div class="promo-card">
        <div class="row">
          <div class="col-4 order-first my-auto">
            <% if @promo_code.company_logo.present? %>
              <%= image_tag @promo_code.company_logo.url, class: "logo" %>
            <% else %>
              <%= image_tag "placeholder.jpg", class: "logo" %>
            <% end %>
          </div>
          <div class="col-4 my-auto">
            <p class="promo-code-description"><%= @promo_code.required_points %></p>
            <span>pontos</span>
          </div>
          <div class="col-4 order-last my-auto">
            <p class="promo-code-description"><%= @promo_code.formatted_value %></p>
            <span>de desconto</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p class="description"><%= @promo_code.description %></p>

  <%= link_to 'PEGAR CUPOM', promo_code_exchanges_path(@promo_code), method: :post, class: 'btn btn-primary exchange-btn' %>
</div>

