<div class="works-list">
  <%= form_tag works_path, url: works_path, method: :get do %>
    <%= select_tag :by_city_id, options_for_select(@cities.collect { |city| [city.name.capitalize, city.id] }, [@selected_city&.name&.capitalize, @selected_city&.id]), include_blank: 'Escolha uma cidade' %>
    <%= submit_tag '', id: 'submit_city', hidden: true %>
  <% end %>

  <% @works.each do |work| %>
    <%= link_to work_path(work) do %>
      <div class="work-card">
        <%= image_tag work.image_url || 'https://s3.amazonaws.com/jera-ligilo/img-placeholder-imovel.png' %>
        <div class="work-description">
          <p class="work-name-index no-absolute"><%= work.obra_nome %></p>
          <p class="work-city-name-index"><%= work.city.name %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>